##################################################
# Build
##################################################

[Bb]in/
[Oo]bj/
[Ll]og/
TestResults/

##################################################
# Visual Studio
##################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##################################################
# Rider
##################################################

.idea/

##################################################
# VS Code
##################################################

.vscode/

##################################################
# NuGet
##################################################

*.nupkg
*.snupkg
packages/
.nuget/

##################################################
# OS
##################################################

.DS_Store
Thumbs.db
Desktop.ini

##################################################
# MAUI
##################################################

platforms/**/bin/
platforms/**/obj/

##################################################
# Publish
##################################################

publish/

##################################################
# Coverage
##################################################

coverage/
coverage.*
*.coverage
*.coveragexml

##################################################
# Temporary files
##################################################

*.tmp
*.temp
*.bak
*.cache

##################################################
# Logs
##################################################

*.log

##################################################
# Generated files
##################################################

Generated/